# -------------------------------------------
# URL API Laravel backend
# Development : http://localhost:8000/api
# Production  : https://api.yourdomain.com/api  atau  https://yourdomain.com/api
# -------------------------------------------
VITE_API_URL=http://localhost:8000/api
